<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Footer Section -->
<footer class="bg-dark text-white py-4 ">
    <div class="container">
        <div class="row">

            <!-- First Column -->
            <div class="col-md-4">
                <div class="footer-column">
                    <div class="footer-sub-column">
                        <h4>Ristorante Montalbuccio</h4>
                    </div>
                    <div class="footer-sub-column">
                        <li>
                            <a class="mail" href="mailto:info@ristorantemontalbuccio.it?subject=Hello&body=I%20would%20like%20to%20discuss...">
                                info&#64;ristorantemontalbuccio.it
                            </a>
                        </li>
                        <li>
                            <a href="tel:+390577285294">
                                <mat-icon>phone</mat-icon> +39 0577 285294
                              </a>
                        </li>
                        <li>
                            <a href="https://wa.me/390577285294" target="_blank">
                                <fa-icon style="font-size: 22px;" [icon]="faWhatsapp"></fa-icon>
                                +39 0577 285294
                              </a>
                        </li>
                    </div>
                </div>
            </div>

            <!-- Second Column -->
            <div class="col-md-4">
                <div class="footer-column">
                    <!-- Quick links -->
                    <div class="footer-sub-column">
                        <h4>Quick Links</h4>
                    </div>
                    <div class="footer-sub-column">
                        <ul>
                            <li style="margin-bottom: 3px;"><a [routerLink]="'/home'">Home</a></li>
                            <li > <mat-icon>local_dining</mat-icon> </li>
                            <li><a [routerLink]="'/contact'">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Third Column -->
            <div class="col-md-4">
                <div class="footer-column">
                    <div class="footer-sub-column">
                        <h4>Tax Detail</h4>
                    </div>
                    <!-- Social links -->
                    <div class="footer-sub-column">
                        <ul>
                            <li> Siena Company</li>
                            <li> 
                             Number : 01186100523
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>