<!-- Full time and part time job hours -->
<mat-card class="card-section">
    <!-- First Card -->
    <mat-card id="col_crd_1" class="column-card">
        <mat-card-title>
            I Nostri Orari di Apertura
            <div class="highlight">Controlla quando siamo disponibili per te</div>
        </mat-card-title>
    </mat-card>

    <!-- Second Card and this is a container -->
    <mat-card class="card-section cont_aval">
        <!-- 1st card -->
        <mat-card class="cards">
            <mat-card-title>Orari di Ristorazione</mat-card-title>
            <mat-icon>schedule</mat-icon>
            <mat-card-content>
                <ul>
                    <li>Mattina: 10:00 - 15:00</li>
                    <li>Sera: 19:00 - 23:30</li>
                    <li>Chiuso il Martedì</li>
                    <li>Orari speciali per eventi o festività</li>
                </ul>
            </mat-card-content>
            <!-- <button class="btn_link" mat-button>
                Assumi a Tempo Pieno
            </button> -->
            <app-button [routerLink]="'/menu'" [button]="'Scopri i Nostri Piatti'"> </app-button>
        </mat-card>
        <!-- 2nd card -->
        <mat-card class="cards">
            <mat-card-title>Orario di Operazione</mat-card-title>
            <mat-icon>access_time</mat-icon>
            <mat-card-content>
                <ul>
                    <li>10:00 - 15:00 tutti i giorni</li>
                    <li>19:00 - 23:30 tutti i giorni</li>
                    <li>Chiuso il Martedì</li>
                    <li>Orari speciali per eventi o festività</li>
                </ul>
            </mat-card-content>
            <app-button [routerLink]="'/menu'" [button]="'Sfoglia il Menu'"> </app-button>
        </mat-card>
    </mat-card>
</mat-card>
