<app-header></app-header>
<!-- Form wrap in this div -->
<div class="form_cnt">
    <div class="container">
        <form class="sign-up" #form="ngForm">
            <h1 class="heading">Prenotazione del Tavolo</h1>

            <!-- container name form field and validation div -->
            <div class="cont">
                <div class="text">
                    <input type="text" #name="ngModel" [(ngModel)]="form_data.name" name="name" required minlength="3"
                        placeholder="Nome">
                </div>

                <!-- this is conditionally if user not write authentic text -->
                <div class="txt_red">
                    <div *ngIf="(name.touched || name.dirty) && name.errors?.['required']">
                        <span>Il nome è obbligatorio</span>
                    </div>
                    <div *ngIf="(name.touched || name.dirty) && name.errors?.['minlength']">
                        <span>Minimo 3 caratteri richiesti</span>
                    </div>
                </div>
            </div>

            <!-- container email form field and validation div -->
            <div class="cont">
                <div class="text">
                    <input type="email" #email="ngModel" [(ngModel)]="form_data.email" required email name="email"
                        placeholder="Email">
                </div>

                <!-- this is conditionally if user not write authentic text -->
                <div class="txt_red">
                    <div *ngIf="(email.touched || email.dirty) && email.errors?.['required']">
                        <span>L'email è obbligatoria</span>
                    </div>
                    <div *ngIf="(email.touched || email.dirty) && email.errors?.['email']">
                        <span>Inserisci un indirizzo email valido</span>
                    </div>
                </div>
            </div>

            <!-- container Mobile Number form field and validation div -->
            <div class="cont">
                <div class="text">
                    <input style="font-size: 20px;" type="tel" [(ngModel)]="form_data.mobile" required name="mobile"
    #mobile="ngModel" placeholder="Numero di telefono" pattern="^\+39\d{10}$">
                </div>

                <!-- this is conditionally if user not write authentic text -->
                <div class="txt_red">
                    <div *ngIf="(mobile.touched || mobile.dirty) && mobile.errors?.['required']">
                        <span>Il numero di telefono è obbligatorio</span>
                    </div>
                    <div *ngIf="(mobile.touched || mobile.dirty) && mobile.errors?.['pattern']">
                        <span>Si prega di inserire un numero di telefono valido</span>
                    </div>
                </div>
            </div>

            <!-- container Date form field and validation div -->
            <div class="cont">
                <div class="text">
                    <input style="font-size: 20px;" type="date" #date="ngModel" [(ngModel)]="form_data.date" name="date"
                        required placeholder="Data della prenotazione">
                </div>

                <!-- this is conditionally if user does not provide a valid date -->
                <div class="txt_red">
                    <div *ngIf="(date.touched || date.dirty) && date.errors?.['required']">
                        <span>La data è obbligatoria</span>
                    </div>
                    <div *ngIf="(date.touched || date.dirty) && date.errors?.['invalidDate']">
                        <span>Si prega di fornire una data valida</span>
                    </div>
                </div>
            </div>

            <!-- container Time form field and validation div -->
            <div class="cont">
                <div class="text">
                    <input style="font-size: 20px;" type="time" [(ngModel)]="form_data.time" required name="time"
                        #time="ngModel" placeholder="Seleziona l'ora">
                </div>

                <!-- this is conditionally if user not write authentic text -->
                <div class="txt_red">
                    <div *ngIf="(time.touched || time.dirty) && time.errors?.['required']">
                        <span>L'orario è obbligatorio</span>
                    </div>
                </div>
            </div>

            <br>
            <button (click)="submit_Form(form)" [disabled]="form.invalid" type="submit">Conferma la prenotazione</button>

        </form>

        <!-- Text container -->
        <div class="text-container">
            <h1>Felici di vederti!</h1>
            <p>Benvenuto, compila i campi per prenotare il tuo tavolo</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
