<!-- load header component -->
<app-header></app-header> 

<!-- Work for home section -->
<div class="cards-container">
    <!-- text card it has heading + para + button -->
    <mat-card class="text-card">
      <mat-card-header>
        <mat-card-title>Ristorante Montalbuccio</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Nato nel 1987, Ristorante Monalbuccio è cresciuto con l'obiettivo di distinguersi per l'ampia selezione di materie prime, per la scelta dei vini e per l'attenzione a ogni dettaglio, dalla accoglienza del cliente alla preparazione dei piatti.</p>
<p>Unisciti a noi mentre condividiamo il percorso che ha plasmato i nostri sapori, le tradizioni che abbiamo preservato e la passione che alimenta ogni piatto che serviamo.</p>
<button [routerLink]="'/menu'" class="btn_link" mat-button>
  Prenota il Tuo Tavolo
  <mat-icon>arrow_forward</mat-icon>
</button>
      </mat-card-content>
    </mat-card>
  
    <!-- image slider -->
    <app-image-slider [autoPlay]="true" [slides]="slides"></app-image-slider>
  </div>

   <!-- kind be text section -->
   <app-resturant-heading></app-resturant-heading>

   <!-- Hiring Component -->
<app-resturant-timing></app-resturant-timing>

<!-- Footer Component -->
<app-footer></app-footer>