<!-- container -->
<mat-card class="flex-column-section">
    <mat-card-title>Ristorante Pizzeria Montalbuccio <br>
        <div class="highlight">A Siena</div>
    </mat-card-title>

    <!-- Card container -->
    <div class="card-container">

        <mat-card class="small-card">
            <!-- Icons -->
            <mat-icon>wine_bar</mat-icon>
            <mat-card-content>
                Vini Pregiati
            </mat-card-content>
        </mat-card>

        <mat-card class="small-card">
            <!-- Icons -->
            <mat-icon>restaurant</mat-icon>
            <mat-card-content>
                Piatti Gustosi
            </mat-card-content>
        </mat-card>

        <mat-card class="small-card">
            <!-- Icons -->
            <mat-icon>local_pizza</mat-icon>
            <mat-card-content>
                Pizza Deliziosa
            </mat-card-content>
        </mat-card>

    </div>

    <!-- button for join us -->
    <button [routerLink]="'/menu'" class="btn">
        <mat-icon style="margin-right: 3px;">restaurant_menu</mat-icon>
        Esplora il Menu
    </button>
</mat-card>
